@model IEnumerable<MvcSmartStore.Models.User>

<h2>Dodani uzytkownicy:</h2>

<div class="container">
	<table class="table  table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var user in Model)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.Username</td>
				</tr>
			}
		</tbody>
	</table>
</div>